:host {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;

  .pagination-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  button {
    padding: 8px 12px;
    background-color: transparent;
    cursor: pointer;
    color: #005cbb;
    border: 1px solid #005cbb;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover {
      background-color: #e6f0ff;
    }

    &.active {
      color: white;
      background-color: #005cbb;
    }
  }
}
